/* Login Pges CSS  */

html,
body {
	height: 100%;
	font-family: "Muli", sans-serif;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

#preloder {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999999;
    background: #000;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}

	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}

	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}

	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

.image-container{
    background: url('../img/login.jpg') center no-repeat;
    background-size: cover;
}

.form-container{
    background-color: #272727;
    display: flex;
    justify-content: center;
}

.form-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}



.form-box h4{
    font-weight: bold;
    color: #fff;
    font-size: 28px;
    text-transform: uppercase;
}

.form-box .form-input {
    position: relative;
}

.form-box .form-input input{
    font-size: 13px;
    color: #d5d4d4;
    width: 100%;
    height: 40px;
    border: 1px solid #575656;
    padding-left: 45px;
    padding-right: 5px;
    background: transparent;
    margin-bottom: 20px;
}

/* asasasa */
#id_gender{
    font-size: 13px;
    color: #d5d4d4;
    width: 100%;
    height: 40px;
    border: 1px solid #575656;
    padding-left: 45px;
    padding-right: 5px;
    background: transparent;
    margin-bottom: 20px;
}

#id_gender > option{
    font-size: 13px;
    color: #d5d4d4;
    width: 100%;
    height: 40px;
    border: 1px solid #575656;
    padding-left: 45px;
    padding-right: 5px;
    background: #272727;
    margin-bottom: 20px;
}


.form-box .form-input span{
    position: absolute;
    top: 8px;
    padding-left: 20px;
    color: #777;
}

div > form > div.profilepic{
    display: flex;
}

#id_profile_pic{
    padding-top: 8px;
}

.form-box .form-input input::placeholder{
    padding-left: 0px;
    color: #d5d4d4;

}

.form-box .form-input input:focus,
.form-box .form-input input:valid{
    border-bottom: 2px solid #dc3545;
}


/* .form-box input[type="checkbox"]:not(:checked) + label:before{
    background: transparent;
    border: 2px solid #fff;
    width: 15px;
    height: 15px;
} */
#cb1{
    background-color: transparent;
    border: 2px solid #fff;
    width: 15px;
    height: 15px;
}   


#cb1:checked ~ .custom-control-label::before{
    background-color: #dc3545;
    border: 0px;
}

.form-box button[type="submit"]{
    border: none;
    cursor: pointer;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background-color: #f36100;
    color: #fff;
    font-weight: bold;
    transition: 0.5s;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.form-box button[type="submit"]:hover{
    -webkit-box-shadow: 0px 9px 10px -2px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 9px 10px -2px rgba(0,0,0,0.55);
    box-shadow: 0px 9px 10px -2px rgba(0,0,0,0.55);
}

.forget-link, .register-link, .login-link{
    color: #f36100;
    font-weight: bold;
}


.forget-link{
    font-size: 16px;
    letter-spacing: 1px;
}

.forget-link:hover, .register-link:hover, .login-link:hover{
    color: #f36100;
}

/* .forget-link:hover, .register-link:hover, .login-link::after{
    position: absolute;
    left: 0;
    top: 22px;
    height: 1px;
    width: 100%;
    background: #f36100;
    content: "";
    -webkit-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
    opacity: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
} */

/* 
.form-box .btn-social{
    color: #fff;
    border: 0;
    margin-bottom: 10px;
}

.form-box .btn-facebook{
    background: #4866a8;
}

.form-box .btn-google{
    background: #da3f34
}

.form-box .btn-twitter{
    background: #33ccff;
} */

body > div.container-fluid > div{
    display: flex;
}

body > div.container-fluid > div > div.col-lg-6.col-md-6.form-container > div > div.heading{
    margin-bottom: 1rem;
}

body > div.container-fluid > div > div.col-lg-6.col-md-6.form-container > div > form > div.remeber{
    display: flex;
    justify-content: space-around;
    margin: 0;
    margin-bottom: 1rem;
    align-items: center;
}

body > div.container-fluid > div > div.col-lg-6.col-md-6.form-container > div > form > div.gender{
    display: flex;
    justify-content:flex-start;
    margin: 0;
    margin-bottom: 1rem;
    align-items: center;
}

body > div.container-fluid > div > div.col-lg-6.col-md-6.form-container > div > form > div.remeber > div.remebercheck{
    flex: 0 0 50%;
    /* text-align: left; */
}

body > div.container-fluid > div > div.col-lg-6.col-md-6.form-container > div > form > div.gender > div.gendercheck{
    flex: 0 0 17%;
    /* text-align: left; */
}

.form-box .btn-facebook:hover{
    color: #fff;
    background: #3d5785;
}

.form-box .btn-google:hover{
    background: #bf3b31;
    color: #fff;
}

.form-box .btn-twitter:hover{
    background: #2eb7e5;
    color: #fff;
}
body>div.swal2-container.swal2-center.swal2-backdrop-show>div {
	width: 36% !important;
}


body>div.swal2-container.swal2-center.swal2-backdrop-show>div {
	background-color: #151515;
}

body>div.swal2-container.swal2-center.swal2-backdrop-show>div>div.swal2-icon.swal2-success.swal2-icon-show>div.swal2-success-circular-line-left {
	background-color: transparent !important;
}

body>div.swal2-container.swal2-center.swal2-backdrop-show>div>div.swal2-icon.swal2-success.swal2-icon-show>div.swal2-success-fix {
	background-color: transparent !important;
}

body>div.swal2-container.swal2-center.swal2-backdrop-show>div>div.swal2-icon.swal2-success.swal2-icon-show>div.swal2-success-circular-line-right {
	background-color: transparent !important;
}

#swal2-title {
	color: #FFFFFF;
}

body>div.swal2-container.swal2-center.swal2-backdrop-show>div>div.swal2-actions>button.swal2-confirm.swal2-styled {
	background-color: #F36100 !important;
	color: #FFFFEF;
}

#swal2-title{
    font-size: x-large;
}

@media (max-width: 991px) {
    body > div.container-fluid > div {
        display: block;
    }

    body > div.container-fluid > div > div.col-lg-6.col-md-6.form-container{
        height: 100vh;
    }
}