{% load static %}
{% include '_navbar.html' %}
<!-- partial -->
<div class="main-panel">
    <div class="content-wrapper">
        <div class='row'>
            <!-- Add Category Form -->
            <div class="col-md-6 col-xl-4 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Add Packages</h4>
                        <form method="post" action="" class="forms-sample" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                    <label for="id_shift">Shift</label>
                                    <input type="text" name="shift" maxlength="100" required="" id="id_shift" class="form-control" placeholder="Shifts">
                            </div>

                            <button type="submit" class="btn btn-inverse-primary me-2">Add Shifts</button>
                        </form>

                    </div>
                </div>
            </div>

            <!-- Display Categories -->
            <div class="col-md-6 col-xl-8 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body" style="
                  height: 390px;
                  overflow: auto;
                  overflow-x: hidden;
              ">
                        <div class="d-flex flex-row justify-content-between">
                            <h4 class="card-title">Shifts</h4>
                        </div>
                        {% for shift in shifts %}

                        <div class="preview-list">
                            <div class="preview-item border-bottom">
                                <div class="preview-thumbnail">

                                </div>
                                <div class="preview-item-content d-flex flex-grow">
                                    <div class="flex-grow">
                                        <div class="d-flex d-md-block d-xl-flex justify-content-between">
                                            <h6 class="preview-subject text-capitalize">{{ shift.shift }}</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex d-md-block d-xl-flex justify-content-between" style="
                                      width: 176px;
                                      align-items: center;
                                  ">


                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% include '_footer.html' %}