{% load static %}
{% include '_navbar.html' %}
<!-- partial -->
<div class="main-panel">
    <div class="content-wrapper">
        <div class='row'>
            <!-- Add Category Form -->
            <div class="col-md-6 col-xl-4 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Add Category</h4>
                        <p class="card-description"> Enter a Category you want to Add </p>
                        <form method="post" action="" class="forms-sample">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="id_name">Name</label>
                                <input type="text" name="name" maxlength="100" required="" id="id_name" placeholder="Name" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="id_description">Contact</label>
                                <input type="text" name="description" maxlength="500" required="" id="id_description" placeholder="Description" class="form-control">
                            </div>
                            <button type="submit" class="btn btn-inverse-primary me-2">Add Category</button>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Display Categories -->
            <div class="col-md-6 col-xl-8 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body" style="
                  height: 390px;
                  overflow: auto;
                  overflow-x: hidden;
              ">
                        <div class="d-flex flex-row justify-content-between">
                            <h4 class="card-title">Trainers</h4>
                        </div>
                        {% for pcategory in pcategorys %}

                        <div class="preview-list">
                            <div class="preview-item border-bottom">
                                <div class="preview-thumbnail">
                                </div>
                                <div class="preview-item-content d-flex flex-grow">
                                    <div class="flex-grow">
                                        <div class="d-flex d-md-block d-xl-flex justify-content-between">
                                            <h6 class="preview-subject text-capitalize">{{ pcategory.name }}</h6>
                                        </div>
                                        <p class="text-muted">{{ pcategory.description }}</p>
                                    </div>
                                </div>
                                <div class="d-flex d-md-block d-xl-flex justify-content-between" style="
                                      width: 176px;
                                      align-items: center;
                                  ">
                                    <a href="{% url 'edit_pcategory' pcategory.id %}"
                                    class="btn btn-inverse-warning btn-sm">Edit</a>
                                <a href="{% url 'pcategory_detail' pcategory.id %}" class=" btn btn-inverse-info btn-sm">View</a>
                                <a href="{% url 'delete_pcategory' pcategory.id %}" class="btn btn-inverse-danger btn-sm"
                                    onclick="return confirm('Are you sure you want to delete this?');">Delete</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% include '_footer.html' %}